*,
*::after,
*::before{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
    display: inline-block;
}
ul{
    list-style: none;
}
body{
    color: #505050;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}
.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.container-text{
    max-width: 970px;
    margin: 0 auto;
}
.title{
    font-family: Georgia;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    align-items: center;
    text-align: center;
    color: #4E5665;
}
.section-line{
    border-bottom: 1px solid rgba(208, 212, 216, .5);
}
.header-top{
    height: 100vh; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
    padding: 40px;
}
.header-top-inner{
    border: 2px solid #ECB84C;
    border-bottom: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    color: white;
    font-family: Georgia;
}
.header-title{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 200px;
    line-height: 227px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    margin: auto;
    font-weight: 700;
}
.header-text{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    font-size: 24px;
    line-height: 27px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin-bottom: -12px;
}
.header-text::after,
.header-text::before{
    content: "";
    border-top: 1px solid #ECB84C;
    width: 100%;
}
.header-text::after{
    margin-left: 30px;
}
.header-text::before{
    margin-right: 30px;
}
.menu{
    border-bottom: 1px solid rgba(208, 212, 216, .5);
}
.menu-list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-list-item{
    font-family: 'Lato', sans-serif;
    padding: 24px 10px 20px;
    color: #909090;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    margin: 0 6px;
    border-bottom: 4px solid transparent;
    transition: all .5s;
}
.menu-list-item:hover{
    color: #4E5665;
    border-bottom: 4px solid #ECB84C;
}
.reason{
    padding: 80px 0 0;
}
.reason-title{
    margin-bottom: 22px;
}
.reason-link{
    text-align: right;
}
.reason-link a{
    font-weight: bold;
    color: #ECB84C;
    margin-bottom: 36px;
}
.reason-stat{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding-bottom: 80px;
}
.reason-stat-num{
    font-weight: bold;
    margin-top: 32px;
    font-size: 22px;
    line-height: 30px;
    color: #4E5665;
}
.reason-stat-text{
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #909090;
}
.about{
    padding-top: 80px 0 0;
}
.about-title{
    margin-bottom: 13px;
}
.about-text{
    margin-bottom: 72px;
}
.about-item{
    margin-bottom: 100px;
    padding: 70px 0;
    background-repeat: no-repeat;
    background-position: right;
}
.about-box{
    padding: 33px 40px 30px;
    background-color: #fff;
    max-width: 470px;
    position: relative;
}
.about-box::after,
.about-box::before{
    content: "";
    position: absolute;
    width: 33px;
    height: 33px;
}
.about-box::before{
    background-image: url("../images/decorleft.svg");
    top: 19px;
    left: 19px;
}
.about-box::after{
    border-bottom: 2px solid #ECB84C;
    border-right: 2px solid #ECB84C;
    right: 19px;
    bottom: 19px;

}
.about-box-title{
    font-family: Georgia;
    font-size: 24px;
    line-height: 25px;
    color: #4E5665;
    margin-bottom: 20px;
}
.about-item:nth-child(even){
    background-position: left;
}
.about-item:nth-child(even) .about-box{
    margin-left: auto;
}
.about-item:nth-child(even) .about-box::before{
    right: 19px;
    left: auto;
    background-image: none;
    border-right: 2px solid #ECB84C;
    border-top: 2px solid #ECB84C;
}
.about-item:nth-child(even) .about-box::after{
    left: 19px;
    border-right:none ;
    border-left: 2px solid #ECB84C;
}
.about-preview-title{
    margin-bottom: 38px;
}
.about-preview-text{
    margin: 53px auto 80px;
}
.about-preview-images{
    padding-top: 73px;
    position: relative;
}
.about-dot{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: rgba(236, 184, 76, .75);
    position: absolute;
    cursor: pointer;
}
.about-dot::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #FFD600;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.photo{
    padding: 80px;
}
.photo-title{
    margin-bottom: 42px;
}
.photo-text{
    padding-bottom: 48px;
    margin-bottom: 56px;
    position: relative;
}
.photo-text::after{
    content: "";
    position: absolute;
    width: 270px;
    height: 1px;
    background-color: rgba(208, 212, 216, .5);
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto ;
}
.photo-slider{
    max-width: 640px;
    margin: 50px auto;
    filter: drop-shadow(0px 2px 24px rgba(0, 0, 0, 0.3));
}
.slick-arrow{
    border: none;
    width: 40px;
    height: 40px;
    border-radius:50% ;
    background-color: #ECB84C;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    outline: none;
}
.slick-prev{
    left: -20px;
}
.slick-next{
    right: -20px;
}
.footer{
    background-color: #F8F8F8;
    padding: 55px 0 32px;
}
.footer-items{
    display: flex;
    justify-content: space-between;
}
.footer-item{
    width: 140px;
}
.footer-item-company{
    width: 300px;
    padding-left: 180px;
}
.footer-item-blog{
    width: 300px;
}
.footer-item-title{
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    color: #4E5665;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.footer-item-link{
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 8px;
}
.footer-item-social{
    padding-left: 28px;
    position: relative;
}
.footer-item-social::before{
    content: "";
    position: absolute;
    left: 0;
    width: 16px;
    height: 16px;
}
.massage::before{
    background-image: url("../images/cont.svg");
    width: 17px;
    top: 1px;
}
.facebook::before{
    background-image: url("../images/face.svg");
}
.insta::before{
    background-image: url("../images/insta.svg");
}
.youtube::before{
    background-image: url("../images/youtube.svg");
}
.mail::before{
    background-image: url("../images/mail.svg");
    height: 13px;
    top: 2px;
}

.footer-copy{
    padding-top: 40px;
    text-align: center;
    font-size: 14px;
    line-height: 15px;
}
.menu-btn{
    display: none;
}
.about-preview-images img{
    max-width: 100%;
}
@media(max-width:1000px){
    .footer-item-company{
        width: 140px;
        padding-left: 0;
    }
}
@media (max-width:840px){
    .about-item{
        padding: 382px 0 70px;
        background-position: top;
        margin-bottom: 0;
    }
    .about-box{
        margin: 0 auto;
    }
    .about-item:nth-child(even){
        background-position: top;
    }
    .footer-items{
        flex-wrap: wrap;
    }
    .footer-item{
        width: 50%;
        margin-bottom: 35px;
    }
    
}
@media (max-width:700px){
    .header-title{
        font-size: 120px;
        line-height: 150px;
    }
    .header-text{
        font-size: 20px;
    }
    .menu{
        position: relative;
    }
    .menu-btn{
        display: block;
        width: 40px;
        cursor: pointer;
        position: absolute;
        right: 40px;
        top: 10px;

    }
    .menu-btn span{
        display: block;
        margin-bottom: 10px;
        background-color: #FFD600;
        height: 4px;
    }
    .menu-list{
        display: none;
        text-align: center;
        padding-top: 25px;
        border-bottom: 4px solid #ECB84C;
    }
    .menu-link{
        transition: all 0s;
        display: block;
        border-top: 4px solid #ECB84C;
    }
    .menu-list-item:hover{
        border-bottom:  4px solid transparent;
    }
    .photo{
        padding: 0;
    }
    .photo-text{
        margin-bottom: 0;
    }
    .slick-next{
        right: 20px;
    }
    .slick-prev{
        left: 20px;
    }
}
@media (max-width:540px){
    .header-text{
        display: none;
    }
    .header-top-inner{
        border: 2px solid #ECB84C;
    }
    .header-top{
        padding: 10px;
    }
    .header-title{
        font-size: 100px;
    }
    .title{
        font-size: 24px;
        line-height: 28px;
    }
    body{
        font-size: 15px;
        line-height: 24px;
    }
    .reason-stat{
        display: block;
    }
    .reason-stat-item{
        margin-bottom: 35px
    }
   

}
@media(min-width:700px){
    .menu-list{
        display: flex !important;
    }
}
